+slide
  h2 Games

+slide
  h3 CartPole
  ul
    li Observation: 4 維
    li Action Space: 2 個
    li Reward: 
  div
    a(href='https://gym.openai.com/evaluations/eval_yambZMYNSwmTyi5Khv3lWg').
      OpenAI Evaluation

+slide
  h3 Acrobot
  ul
    li Observation: 4 維
    li Action Space: 3 個
    li Reward: 

+slide
  h3 躲(吃)子彈
  ul
    li Observation: $120 \times 60$ RGB pixels
    li Action Space: 2 個
    li Reward: 吃一個子彈得到 -1 (+1)

+slide
  h3 二維吃食物
  ul
    li Observation: $40 \times 40$ RGB pixels
    li Action Space: 4 個
    li Reward: 吃到一個食物 +1 / 撞一次牆 -1

+slide
  h3 簡易特訓 99
  ul
    li Observation: $100 \times 100$ RGB pixels $\times 4$ frames
    li Action Space: 5 個
    li Reward: 吃一個子彈得到 -1

