extends ./layout.pug
include ./mixin.pug

//-block latex_settings
  //-| \( 
  //-|   \newcommand{\abs}[1]{\left\lvert #1 \right\rvert}
  //-|   \newcommand{\norm}[1]{\left\lVert #1 \right\rVert}
  //-|   \newcommand{\floor}[1]{\left\lfloor #1 \right\rfloor}
  //-|   \newcommand{\ceil}[1]{\left\lceil #1 \right\rceil}
  //-|   \newcommand{\argmax}{\operatorname{arg\,max}}
  //-| \)

block slides
  section
    h1 Reinforcement Learning
    p
      .small leomao, bobogei81123, step5

  section
    +mdslide.
      ## Outline
      - Games
      - Approaches
      - Results

  section
    include ./games.pug

  section
    include ./methods.pug

  section
    include ./results.pug

  section
    +slide
      h2 Discussion & Qeustions
